@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Quicksand:wght@400;600;700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Quicksand", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 245, 233);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ================================
Site Styles
=================================== */

.header {
  text-align: left;
  margin-bottom: 5px;
  font-size: 2em;
  font-weight: bold;
}

.separator {
  height: 3px;
  background-color: grey;
}

.pageHeader {
  margin-bottom: 20px;
}

.pageImage {
  display: inline-block;
  height: 30px;
}

.pageTitle {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  margin: 20px;
}

.function {
  border: 3px solid rgb(128, 89, 79);
  display: inline-block;
  width: fit-content;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 1.4em;
  cursor: pointer;
}

.function:hover {
  background-color: rgb(250, 223, 187);
}

.function:active {
  background-color: rgb(245, 199, 138);
}

.functionSmall {
  position: relative;
  border: 3px solid rgb(128, 89, 79);
  display: inline-block;
  width: fit-content;
  padding: 3px 7px;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
}

.functionSmall:hover {
  background-color: rgb(250, 223, 187);
}

.functionSmall:active {
  background-color: rgb(245, 199, 138);
}

/* ================================
Navbar
=================================== */

.navbar {
  position: fixed;
  display: hidden;
  height: fit-content;
  top: 0;
  left: 0;
  padding-top: 80px;
  padding-bottom: 20px;
  min-width: 300px;
  width: 18%;
  background-color: rgb(250, 246, 241);
  box-shadow: 0 0 20px 1px gray;
  z-index: 1;
  text-align: left;
}

.navbarLink {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin-right: 10%;
  margin-left: 35px;
  width: fit-content;
}

.navbarLink:hover {
  text-decoration: underline;
}

.navbarButton {
  position: fixed;
  height: 40px;
  width: 40px;
  top: 20px;
  left: 30px;
  background-image: url("./Assets/hamburger.png");
  background-size: cover;
  cursor: pointer;
  z-index: 10;
}

.home img {
  position: fixed;
  width: 35px;
  top: 25px;
  left: 90px;
  z-index: 10;
}

/* ================================
Home
=================================== */

.homeLink {
  display: inline-block;
  border: 5px solid rgb(128, 89, 79);
  width: 300px;
  height: 250px;
  margin: 20px;
  vertical-align: top;
  cursor: pointer;
}

.homeLink .container {
  width: 80%;
  margin: 20px auto;
}

.homeLink img {
  width: 50px;
  vertical-align: middle;
}

.homeLink:hover > .container {
  text-decoration: underline;
}

.homeLink h1 {
  font-size: 25px;
  margin-left: 10px;
  vertical-align: middle;
}

.homeLink .description {
  position: relative;
  width: 80%;
  height: 100px;
  margin: auto;
  font-weight: 600;
}

.homeLink p {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.logoutLink {
  background-color: rgb(128, 89, 79);
  color: white;
  font-size: 20px;
  font-weight: 900;
  padding: 15px 0;
  width: 200px;
  margin: 30px auto;
  cursor: pointer;
}

.error {
  text-align: center;
  margin-bottom: 20px;
  color: red;
  font-weight: bold;
  font-size: 1.2em;
}

.chartContainer {
  display: inline-block;
  width: 80%;
  margin: 20px auto;
  margin-right: 40px;
  vertical-align: middle;
}

.chartArrowContainer {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.chartArrowLeft {
  margin: 0 auto;
  width: 0px;
  height: 0px;
  border-bottom: 20px solid grey;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  transform: rotate(270deg);
  cursor: pointer;
}

.chartArrowLeft:active {
  border-bottom: 15px solid grey;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.chartArrowRight {
  margin: 0 auto;
  width: 0px;
  height: 0px;
  border-bottom: 20px solid grey;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  transform: rotate(90deg);
  cursor: pointer;
}

.chartArrowRight:active {
  border-bottom: 15px solid grey;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

/* ================================
Login
=================================== */

.loginModal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 800px;
  height: 700px;
  margin: auto;
  text-align: left;
  background-color: white;
  border: 5px solid rgb(128, 89, 79);
}

.loginSide {
  display: inline-block;
  width: 50%;
  height: 100%;
  background-color: rgb(128, 89, 79);
  color: white;
}

.loginSide2 {
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top;
}

.loginSide2 h1 {
  margin-top: 100px;
  font-weight: 700;
}

.loginTitle {
  width: 80%;
  padding-top: 40%;
  margin: 0 auto;
  text-align: center;
}

.loginTitle h1 {
  font-family: "Kalam", cursive;
  margin: 0;
}

.loginTitle h4 {
  text-align: left;
  margin: 0;
  font-size: 2em;
  margin-left: 7%;
  font-weight: bolder;
}

.loginTitle p {
  text-align: left;
  margin-top: 100px;
  margin-left: 7%;
  font-weight: bold;
}

.loginClose {
  position: absolute;
  font-weight: bold;
  font-size: 2em;
  right: 20px;
}

.loginOptionContainer {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.loginOption {
  display: inline-block;
  border: 2px solid black;
  font-size: 1.5em;
  width: fit-content;
  padding: 5px 10px;
  margin: 10px;
  cursor: pointer;
}

.loginOptionSelected {
  display: inline-block;
  border: 2px solid black;
  background-color: black;
  font-size: 1.5em;
  width: fit-content;
  color: white;
  padding: 5px 10px;
  margin: 10px;
}

.loginElement {
  margin-top: 25px;
}

.loginInput {
  width: 100%;
  font-size: 1.2em;
  margin-top: 3px;
}

.loginCheckbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  line-height: 25px;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.loginCheckbox label {
  font-size: medium;
}

.loginCheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: white;
  border: 2px solid black;
}

.loginCheckbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.loginCheckbox input:checked ~ .checkmark {
  background-color: black;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.loginCheckbox input:checked ~ .checkmark:after {
  display: block;
}

.loginCheckbox .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.loginButton {
  margin-top: 15px;
  width: 100%;
  height: 35px;
  border: none;
  background-color: burlywood;
  font-weight: bold;
  cursor: pointer;
}

.loginButton:hover {
  background-color: rgb(192, 151, 98);
}

.loginButton:active {
  padding-top: 3px;
  font-size: 1em;
  background-color: rgb(161, 124, 75);
}

/* ================================
Admin
=================================== */

.adminListArrowContainer {
  position: relative;
  display: inline-block;
  width: 50px;
}

.adminListArrowOpen {
  position: absolute;
  top: -23px;
  left: 15px;
  width: 10px;
  height: 10px;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  transform: rotate(315deg);
}

.adminListArrowClosed {
  position: absolute;
  top: -17px;
  left: 7px;
  width: 10px;
  height: 10px;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  transform: rotate(225deg);
}

.adminListUser {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  width: 20%;
}

.adminListAccess {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.adminListGroup {
  border: 2px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px auto;
}

.adminListElement {
  cursor: pointer;
}

.adminListDetails {
  margin-top: 20px;
  padding-left: 50px;
}

.print {
  border: 1px solid black;
  background-color: white;
  width: fit-content;
  padding: 30px;
  margin: 0 auto;
  z-index: 9999;
}

@media print {
  .hidePrint {
    display: none;
  }
}

/* ================================
Modals
=================================== */

.modalBackground {
  background-color: grey;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 10;
}

.modal {
  background-color: rgb(250, 246, 241);
  border: 5px solid rgb(128, 89, 79);
  position: fixed;
  width: 35%;
  min-width: 500px;
  height: fit-content;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 30px;
  z-index: 11;
}

.modal .container {
  width: 80%;
  margin: 0 auto;
}

.modalClose {
  position: absolute;
  font-weight: bold;
  font-size: 2em;
  right: 30px;
  top: 10px;
  cursor: pointer;
}

.modalInput {
  width: 100%;
  font-size: 1.2em;
  margin-top: 3px;
}

.modalSubmit {
  margin-top: 15px;
  width: 100%;
  height: 35px;
  border: none;
  background-color: burlywood;
  font-weight: bold;
  cursor: pointer;
}

.modalSubmit:hover {
  background-color: rgb(192, 151, 98);
}

.modalSubmit:active {
  padding-top: 3px;
  font-size: 1em;
  background-color: rgb(161, 124, 75);
}

/* ================================
Grids
=================================== */

.archiveGrid {
  display: grid;
  grid-template-columns: 30% auto 10%;
}

.archiveGridHeader {
  display: inline-grid;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.archiveGridEntry {
  display: inline-grid;
  font-size: 1.3em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.receiptGrid {
  display: grid;
  grid-template-columns: 75px auto 15%;
  text-align: left;
  width: 60%;
  min-width: 400px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid black;
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.receiptGridHeader {
  display: inline-grid;
  font-size: 1.1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.receiptGridEntry {
  display: inline-grid;
  font-size: 1.1em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.receiptGridTotal {
  display: inline-grid;
  font-size: 1.1em;
  margin-top: 5px;
  margin-bottom: 5px;
  grid-column: 1 / span 2;
  text-align: right;
}

/* ================================
Others
=================================== */

.logoUpload {
  border: 3px solid rgb(128, 89, 79);
  display: inline-block;
  width: fit-content;
  padding: 3px 7px;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  margin-right: 10px;
  background-color: initial;
  height: 36px;
  vertical-align: top;
}

.logoUpload:hover {
  background-color: rgb(250, 223, 187);
}

.logoUpload:active {
  background-color: rgb(245, 199, 138);
}

.refresh {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  vertical-align: middle;
  margin: auto;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.sortContainer {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  margin-left: 20px;
  vertical-align: middle;
}

.sortUp {
  margin: 0 auto;
  width: 0px;
  height: 0px;
  border-bottom: 15px solid black;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  cursor: pointer;
  margin-bottom: 5px;
}

.sortUp:active {
  border-bottom: 12px solid black;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.sortDown {
  margin: 0 auto;
  width: 0px;
  height: 0px;
  border-bottom: 15px solid black;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  transform: rotate(180deg);
  cursor: pointer;
  margin-top: 5px;
}

.sortDown:active {
  border-bottom: 12px solid black;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.categoryInput {
  width: 30%;
  font-size: 1.2em;
  margin-top: 3px;
  margin-left: 15px;
  vertical-align: middle;
}

.categoryDetailsContainer {
  position: absolute;
  height: 50px;
  width: 100px;
  top: 9px;
  right: 0px;
  text-align: center;
}

.categoryDetails {
  margin: auto;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
}

.categoryDetails:active {
  font-size: 25px;
}
